@font-face {
  font-family: 'calsans';
  src: url('../assets/fonts/CalSans-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/CalSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}